@model List<Napping_PJ.Areas.Admin.Models.UserRoleViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="row">
    <div class="col">
        @*<p>
            <a asp-area="Admin" asp-controller="Roles" asp-action="Create">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        RoleName
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(ViewBag.Roles)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.RoleId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.RoleId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.RoleId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>*@
    </div>
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        使用者
                    </th>
                    <th>
                        擁有角色
                    </th>
                    <th>
                        新增角色
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var userRoleViewModel in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(cName => userRoleViewModel.customer.CustomerId)</td>
                        <td>
                            @Html.DisplayFor(cName => userRoleViewModel.customer.Name)
                        </td>
                        <td>
                            @foreach (var selectedRole in userRoleViewModel.SelectedRole)
                            {
                                <button class="btn-info roleTag" value="@selectedRole.RoleId">@selectedRole.Name</button>
                            }
                        </td>
                        <td>
                            <select class="rowRoleSelecter" asp-items="@ViewBag.Roles">
                                <option>請選擇</option>
                            </select>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('.rowRoleSelecter').change(function () {
                var userId = $(this).closest('tr').find('td:first-child').text();
                var roleId = $(this).val();
                $.ajax({
                    url: '@Url.Action("AddRoleToUser", "Roles",new { area = "Admin" } )',
                    type: "POST",
                    data: { userId: userId, roleId: roleId }
                }).done(function (result) {// success callback function
                    alert('角色新增成功');
                    location.reload();
                }).fail(function (xhr, status, error) {
                    // error callback function
                    alert(xhr.responseText);
                    location.reload();
                })
            });

            $('.roleTag').click(function () {
                var userId = $(this).closest('tr').find('td:first-child').text();
                var roleId = $(this).val();
                $.ajax({
                    url: '@Url.Action("RemoveRoleToUser", "Roles",new { area = "Admin" })',
                    type: "POST",
                    data: { userId: userId, roleId: roleId }
                }).done(function (result) {
                    // success callback function
                    alert('角色刪除成功');
                    location.reload();
                }).fail(function (xhr, status, error) {
                    // error callback function
                    alert(xhr.responseText);
                    location.reload();
                });
            });
        });
    </script>
}