@model List<Napping_PJ.Areas.Admin.Models.UserRoleViewModel>

@{
    ViewData["Title"] = "角色管理";
}
<div class="row">
    <div class="col">
        <h1 class="mt-3">管理角色</h1>
    </div>
    <div class="col">
        <h1 class="mt-3">使用者角色</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <partial name="_RoleListPartial" model="@ViewBag.Roles" />
        <partial name="_RoleCreatePartial" model="@ViewBag.CreateRoleInput" />
    </div>
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        使用者
                    </th>
                    <th>
                        擁有角色
                    </th>
                    <th>
                        新增角色
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var userRoleViewModel in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(cName => userRoleViewModel.customer.CustomerId)</td>
                        <td>
                            @Html.DisplayFor(cName => userRoleViewModel.customer.Name)
                        </td>
                        <td>
                            @foreach (var selectedRole in userRoleViewModel.SelectedRole)
                            {
                                <button class="btn-info roleTag" value="@selectedRole.RoleId">@selectedRole.Name</button>
                            }
                        </td>
                        <td>
                            <select class="rowRoleSelecter" asp-items="@ViewBag.RolesSelectList">
                                <option>請選擇</option>
                            </select>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.rowRoleSelecter').change(function () {
                var userId = $(this).closest('tr').find('td:first-child').text();
                var roleId = $(this).val();
                $.ajax({
                    url: '@Url.Action("AddRoleToUser", "Roles",new { area = "Admin" } )',
                    type: "POST",
                    data: { userId: userId, roleId: roleId }
                }).done(function (result) {// success callback function
                    alert('角色新增成功');
                    location.reload();
                }).fail(function (xhr, status, error) {
                    // error callback function
                    alert(xhr.responseText);
                    location.reload();
                })
            });

            $('.roleTag').click(function () {
                var userId = $(this).closest('tr').find('td:first-child').text();
                var roleId = $(this).val();
                $.ajax({
                    url: '@Url.Action("RemoveRoleToUser", "Roles",new { area = "Admin" })',
                    type: "POST",
                    data: { userId: userId, roleId: roleId }
                }).done(function (result) {
                    // success callback function
                    alert('角色刪除成功');
                    location.reload();
                }).fail(function (xhr, status, error) {
                    // error callback function
                    alert(xhr.responseText);
                    location.reload();
                });
            });
        });
    </script>
}